<p class="text-center">
    <facebook-share [shareRouterLink]='["/about"]'></facebook-share>
    <twitter-share [shareRouterLink]='["/about"]'></twitter-share>
    <linkedin-share [shareRouterLink]='["/about"]'></linkedin-share>
</p>

<h1 class="text-center">Welcome to {{ title }}</h1>

<a [advRouterLink]='["/"]'>Home</a> |
<a [advRouterLink]='["/about"]'>About</a> |
<a [advRouterLink]='["/contact"]'>Contact</a> |
<a [advRouterLink]='["/people"]'>People</a>
<hr>
<router-outlet></router-outlet>
<hr>
{{ baseUrl }}
<hr>
