<div class="content">

  <span>ng-share-buttons-demo app is running!</span>

  <div>
    <button (click)="increment()">Increment</button>
    <facebook-share [routerLink]='["/hello","world", counter]'></facebook-share>
    <twitter-share [routerLink]='["/hello","world", counter]'></twitter-share>
    <linkedin-share [routerLink]='["/hello","world", counter]'></linkedin-share>
  </div>

  <span>External urls</span>
  <div>
    <facebook-share routerLink="https://mintplayer.com/song/134/body-like-a-back-road"></facebook-share>
    <twitter-share routerLink="https://mintplayer.com/song/134/body-like-a-back-road"></twitter-share>
    <linkedin-share routerLink="https://mintplayer.com/song/134/body-like-a-back-road"></linkedin-share>
  </div>

  <router-outlet></router-outlet>

  <ul>
    <li>
      <a [routerLink]='["/"]'>Home</a>
    </li>
    <li *ngFor="let number of numbers">
      <a [routerLink]='["/person", number]'>{{ number }}</a>
    </li>
  </ul>

</div>